//- images sizes
//- img - 300x400
//- item - 120x180
//- itemOld - 133x200

//- data
-
	global = {
	date: 'welcome',
	mediaURL: '/public/img/',
	//mediaURL: 'https://monacomoda.com/upload/mail/',
	dateURL: function() { return this.mediaURL + this.date + '/' },

	host: "https://www.kvartira33.ru",
	widthWrap: 800,
	widthHead: 775,
	width: 720,

	title: 'Вы получили это сообщение, так как ваш адрес был указан на сайте нашего интернет-магазина',
	textMiddle: 'Чтобы подписаться на рассылку и первыми узнавать об акциях, новостях и спецпредложениях, подтвердите ваш e-mail [e-mail покупателя]',
	textWithLink: 'Насладитесь нашим ассортиментом прямо сейчас:',

	logo: 'logo.jpg',
	logoFooter: 'logo-f.jpg',

	menuLinks: [
		{
			link: '/catalog/mebel/',
			name: 'Мебель'
		},
		{
			link: '/catalog/santekhnika/',
			name: 'Сантехника'
		},
		{
			link: '/catalog/svetilniki_1/',
			name: 'Светильники'
		},
		{
			link: '/catalog/svetilniki_1/',
			name: 'Светильники'
		},
		{
			link: '/catalog/keramicheskaya_plitka/',
			name: 'Керамическая плитка'
		},
		{
			link: '/catalog/oboi/',
			name: 'Обои'
		},
		{
			link: '/catalog/napolnye_pokrytiya/',
			name: 'Напольные покрытия'
		},
		{
			link: '/catalog/bytovaya_tekhnika_1/',
			name: 'Бытовая техника'
		},
		{
			link: '/catalog/dveri/',
			name: 'Двери'
		}
	],


	img1: 'img1.jpg', 

	buttonLink: 'productlist',

	utm:''
	}
