//- images sizes
//- img - 300x400
//- item - 120x180
//- itemOld - 133x200

//- data
-
	brands = {
	0: 'Bilancioni',
	1: 'Brunello Cucinelli',
	2: 'Gran Sasso',
	3: 'Lanvin',
	4: 'Kiton',
	5: 'Poiret',
	6: 'Rasario',
	7: 'Santoni',
	8: 'Tom Ford',
	9: 'Lorena Antoniazzi'
	}

	types = {
	0: 'Джинсы',
	1: 'Сумка',
	2: 'Поло',
	3: 'Комбинезон',
	4: 'Пиджак',
	5: 'Платье',
	6: 'Ремень',
	7: 'Рюкзак',
	8: 'Сумка',
	9: 'Шапка',
	10: 'Шарф',
	11: 'Перчатки',
	12: 'Куртка',
	13: 'Водолазка',
	14: 'Олимпийка',
	15: 'Футболка',
	16: 'Брюки',
	17: 'Кепка',
	18: 'Блуза',
	19: 'Носки',
	20: 'Свитшот',
	21: 'Толстовка'
	}

	global = {
	date: 'compilation',
	mediaURL: '/public/img/',
	//mediaURL: 'https://monacomoda.com/upload/mail/',
	dateURL: function() { return this.mediaURL + this.date + '/' },

	width: 600,

	title: 'Внимание! Запас товара ограничен',
	subtitle: 'Не упустите последний шанс купить!',
	logo: '',
	img1: 'img1.jpg', 
	img2: 'img2.jpg',
	img3: 'img3.jpg',
	img4: 'img4.jpg',

	items: [
	{
	link: '',
	img: '1.jpg', 
	brand: 'Люстра LV 9156/5',
	type: '', 
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '2.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '3.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '4.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},

	{
	link: '',
	img: '5.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},

	{
	link: '',
	img: '6.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},

	{
	link: '',
	img: '7.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '8.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '9.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '10.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '11.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},{
	link: '',
	img: '12.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '13.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '14.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '15.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	{
	link: '',
	img: '16.jpg',
	brand: 'Люстра LV 9156/5',
	type: '',
	newPrice: 'Цена 2610'
	},
	],

	utm:''
	}
