<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Шаблоны писем 33 Комода
	body
		ul
			li
				a(href="templates/welcome/") Приветственное
			li
				a(href="templates/compilation/") Подборка
			li
				a(href="templates/forgotten-basket/") Забытая корзина
			li
				a(href="templates/forgotten-basket-one-col/") Забытая корзина в одну колонку
			li
				a(href="templates/subscription/") Подтверждение подписки
			li
				a(href="templates/order/") Заказ