//- images sizes
//- img - 300x400
//- item - 120x180
//- itemOld - 133x200

//- data
-
	global = {
	date: 'order',
	mediaURL: '/public/img/',
	//mediaURL: 'https://monacomoda.com/upload/mail/',
	dateURL: function() { return this.mediaURL + this.date + '/' },

	host: "https://www.kvartira33.ru",
	widthWrap: 800,
	widthHead: 775,
	width: 775,

	title: 'Статус заказа номер 304 от 24.09.2019 14:47:40 изменен',

	logo: 'logo.jpg',
	logoFooter: 'logo-f.jpg',

	menuLinks: [
		{
			link: '/catalog/mebel/',
			name: 'Мебель'
		},
		{
			link: '/catalog/santekhnika/',
			name: 'Сантехника'
		},
		{
			link: '/catalog/svetilniki_1/',
			name: 'Светильники'
		},
		{
			link: '/catalog/svetilniki_1/',
			name: 'Светильники'
		},
		{
			link: '/catalog/keramicheskaya_plitka/',
			name: 'Керамическая плитка'
		},
		{
			link: '/catalog/oboi/',
			name: 'Обои'
		},
		{
			link: '/catalog/napolnye_pokrytiya/',
			name: 'Напольные покрытия'
		},
		{
			link: '/catalog/bytovaya_tekhnika_1/',
			name: 'Бытовая техника'
		},
		{
			link: '/catalog/dveri/',
			name: 'Двери'
		}
	],


	img1: 'img1.jpg', 


	items: [
	{
	link: '',
	img: '1.jpg', 
	brand: 'Люстра LV 9156/5',
	color: 'Цвет: мульти', 
	newPrice: '2610'
	},{
	link: '',
	img: '2.jpg',
	brand: 'Люстра LV 9156/5',
	color: 'Цвет: мульти',
	newPrice: '2610'
	},{
	link: '',
	img: '3.jpg',
	brand: 'Люстра LV 9156/5',
	color: 'Цвет: мульти',
	newPrice: '2610'
	},{
	link: '',
	img: '4.jpg',
	brand: 'Люстра LV 9156/5',
	color: 'Цвет: мульти',
	newPrice: '2610'
	},
	],


	buttonLink: 'productlist',

	utm:''
	}
